<!DOCTYPE html>
<html lang="en">
    <head>
      <title>MSCI 444</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); background-repeat: no-repeat;height: 100%;background-attachment: fixed;"">
        <!--NAVBAR-->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="">AutoTrader Advanced</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="logIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </nav>
      
        <div class="container">
            <div class="jumbotron">
                <h1>AutoTrader Advanced Search</h1>
                <h4>MSCI 444</h4>
                <p class="lead"></p>
                <p><a class="btn btn-lg btn-success" href="signUp" role="button">Sign up today</a></p>
            </div>
            <div class="row marketing">
                <div class="col-lg-6">
                    <h4>Text</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                    <h4>Text</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                </div>
                <div class="col-lg-6">
                    <h4>Text</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
                    <h4>Text</h4>
                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
                </div>
            </div>
        </div>
        <footer class="footer" style="position: absolute; bottom: 0px; width: 100%">
            <div class="container">
                <p style="color: black;" align="center" class="text-muted">MSCI 444 Final Project - Anthony, Jeff, Sefunmi, Sunny, Youssef</p>
            </div>
        </footer>
    </body>
</html>