<html lang="en">
  <head>
    <title>MSCI 444</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/index.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)">
      <!--NAVBAR-->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">AutoTrader Advanced</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="search">Search</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>


      <div class="container">
        <form id="contact" action="/result" method="POST">
          <h3>Advanced Search</h3>
          <fieldset>
            <input placeholder="Make" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Model" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="Year" type="tel" tabindex="3" required>
          </fieldset>
          <fieldset>
            <input placeholder="Kilometres Driven" type="url" tabindex="4" required>
          </fieldset>
          <fieldset>
            <textarea placeholder="Color" tabindex="5" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
          </fieldset>
        </form>
      </div>
  </body>
</html>

<p style="color: black; position: absolute; bottom: 0px; width: 100%" align="center" class="text-muted">MSCI 444 Final Project - Anthony, Jeff, Sefunmi, Sunny, Youssef</p>